@import 'tailwindcss';

h1 {
  @apply text-4xl font-bold text-slate-700 dark:text-slate-200;
}

h2 {
  @apply text-3xl text-slate-600 dark:text-slate-400;
}

h3 {
  @apply text-2xl text-slate-500 dark:text-slate-500;
}

p {
  @apply text-slate-800 dark:text-slate-200;
}
